<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/login">LogIn</a>
   </nav>

    <h1>Welcome to the Signup Page</h1>
    <p>Please fill up the below form to create an account</p>

    <form action="/signup" method="post">
        Username: <input type="text" name="u_name" placeholder="Enter Username"> <br>
        Email: <input type="email" name="e_mail" placeholder="Enter Email"></type> <br>
        password: <input type="password" name="p_word" placeholder="Enter Email"></type>
        <input type="submit" value="SignUp">
    </form>
</body>
</html>